#users .user-11 {
    text-align: center;
    background-color: olivedrab;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    transition: background-color 1s ease;
}
#users .user-11:hover {
    background-color: lightslategray;
}
